/* ----------------------------- Variables ------------------------------- */
:root {
    --bg-primary: #1C1C1C;
    --bg-secondary: #232323;
    --text: #fff;
  }
  
/*  body { background-color: var(--blue); } */


/* ----------------------------- Main parts ---------------------------- */

html, body {
    background-color: var(--bg-primary);
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

#deleteNote {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-secondary);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    display: none;
}
#deleteNote button {
    background: #1e1e1e;
    border: none;
    padding: 10px 20px;
    box-shadow: 7px 8px 33px -11px #000000;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin: 0 10px;
}

/* ----------------------------- Side BAR ---------------------------- */

#sidebar {
    position: absolute;
    z-index: 1;
    height: 98%;
    width: 20%;
    background-color: var(--bg-secondary);
    border-radius: 10px;
    -webkit-box-shadow: 23px 26px 40px -34px rgba(0,0,0,0.75);
    -moz-box-shadow: 23px 26px 40px -34px rgba(0,0,0,0.75);
    box-shadow: 23px 26px 40px -34px rgba(0,0,0,0.75);
}

#notesList {
    user-select: none;
    list-style-type: none;
    color: var(--text);
    max-height: 80%;
    overflow-y: auto;
}

li {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    transition: 0.3s;
}

li:hover {
    cursor: pointer;
    background-color: #161515;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;

}


/* ----------------------------- Buttons ---------------------------- */


.addnote_btn {
    margin-top: 5%;
    margin-left: 5%;
	box-shadow: 7px 8px 33px -11px #000000;
	background-color:#201e1e;
	border-radius:28px;
	border:1px solid #1b1c1b;
	display: inline-flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5% 10%;
	text-decoration:none;
    transition: 0.3s;
    user-select: none;
}
.addnote_btn:hover {
	background-color:#1d1b1b;
}
.addnote_btn:active {
	position:relative;
	top:1px;
}

hr.solid {
    border-top: 1px solid #ffffff;
    width: 90%;
}

#home {
    margin-top: 5%;
    margin-left: 5%;
	box-shadow: 7px 8px 33px -11px #000000;
	background-color:#201e1e;
	border-radius:28px;
	border:1px solid #1b1c1b;
	display: inline-flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5% 10%;
	text-decoration:none;
    transition: 0.3s;
    user-select: none;
}
#home:hover {
	background-color:#1d1b1b;
}
#home:active {
	position:relative;
	top:1px;
}

/* Hello :3 */
/* ----------------------------- Scroll Bar ---------------------------- */


ul {
    --sb-track-color: #1e1e1e;
    --sb-thumb-color: #161616;
    --sb-size: 14px;
    margin-right: 5px;
  }
  
  ul::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  ul::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  ul::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    ul {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }


  
  textarea {
    --sb-track-color: #1e1e1e;
    --sb-thumb-color: #282828;
    --sb-size: 14px;
  }
  
  textarea::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  textarea::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  textarea::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    textarea {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }


/* ----------------------------- Note ---------------------------- */

article {
    position: absolute;
    z-index: 99;
    margin-left: 23%;
}

#titleDisplay {
    position: fixed;
    color: var(--text);
    font-size: 30px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: var(--bg-primary);
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}

#titleDisplay:focus {
    outline: none;
}

#contentDisplay {
    position: fixed;
    color: var(--text);
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: var(--bg-primary);
    border: none;
    height: 100%;
    width: 70%;
}

#contentDisplay:focus {
    outline: none;
}

/* ----------------------------- Toolbar ---------------------------- */

#toolbar {
    user-select: none;
    position: fixed;
    z-index: 100;
    width: 20%;
    height: 7%;
    margin-left: 80%;
    bottom: 0;
    border-top-left-radius: 9px;
    background-color: #181818;
    border: none;
}