/* ----------------------------- Variables ------------------------------- */
:root {
    --bg-primary: #1C1C1C;
    --bg-secondary: #232323;
    --bg-hover: #1a1919;
    --text: #fff;
  }
  
/*  body { background-color: var(--blue); } */


/* ----------------------------- Main parts ---------------------------- */

html, body {
    background-color: var(--bg-primary);
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    user-select: none;
}

#deleteNote {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-secondary);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    display: none;
}
#deleteNote button {
    background: #1e1e1e;
    border: none;
    padding: 10px 20px;
    box-shadow: 7px 8px 33px -11px #000000;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin: 0 10px;
}

/* ----------------------------- Side BAR ---------------------------- */

#sidebar {
    position: absolute;
    z-index: 1;
    height: 98%;
    width: 20%;
    background-color: var(--bg-secondary);
    border-radius: 10px;
    -webkit-box-shadow: 23px 26px 40px -34px rgba(0,0,0,0.75);
    -moz-box-shadow: 23px 26px 40px -34px rgba(0,0,0,0.75);
    box-shadow: 23px 26px 40px -34px rgba(0,0,0,0.75);
}

#notesList {
    user-select: none;
    list-style-type: none;
    color: var(--text);
    max-height: 80%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-gap: 10px;
    align-items: center;
}

li {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    transition: 0.3s;
}

li:hover {
    margin-left: 5%;
    cursor: pointer;
    background-color: #292929;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;

}


/* ----------------------------- Buttons ---------------------------- */


.addnote_btn {
    margin-top: 5%;
    margin-left: 5%;
	box-shadow: 7px 8px 33px -11px #000000;
	background-color:#201e1e;
	border-radius:28px;
	border:1px solid #1b1c1b;
	display: inline-flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5% 10%;
	text-decoration:none;
    transition: 0.3s;
    user-select: none;
}
.addnote_btn:hover {
	background-color:#1d1b1b;
}
.addnote_btn:active {
	position:relative;
	top:1px;
}

hr.solid {
    border-top: 1px solid #ffffff;
    width: 90%;
}

#home {
    margin-top: 5%;
    margin-left: 5%;
	box-shadow: 7px 8px 33px -11px #000000;
	background-color:#201e1e;
	border-radius:28px;
	border:1px solid #1b1c1b;
	display: inline-flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5% 10%;
	text-decoration:none;
    transition: 0.3s;
    user-select: none;
}
#home:hover {
	background-color:#1d1b1b;
}
#home:active {
	position:relative;
	top:1px;
}

#shortcut {
  margin-top: 7%;
  margin-left: 7%;
  box-shadow: 7px 8px 33px -11px #000000;
  background-color:#201e1e;
  border-radius:10px;
  border:1px solid #1b1c1b;
  display: inline-flex;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:10% 10%;
  text-decoration:none;
  transition: 0.3s;
  user-select: none;
}
#shortcut:hover {
  background-color:#1a1a1a;
}
#shortcut:active {
  position:relative;
  top:1px;
}

/* Hello :3 */
/* ----------------------------- Scroll Bar ---------------------------- */


ul {
    --sb-track-color: #1e1e1e;
    --sb-thumb-color: #161616;
    --sb-size: 14px;
    margin-right: 5px;
  }
  
  ul::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  ul::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  ul::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    ul {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }


  
  textarea {
    --sb-track-color: #1e1e1e;
    --sb-thumb-color: #282828;
    --sb-size: 14px;
  }
  
  textarea::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  textarea::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
    cursor: default;
  }
  
  textarea::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    textarea {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }


/* ----------------------------- Note ---------------------------- */

article {
    position: absolute;
    z-index: 99;
    margin-left: 23%;
}

#titleDisplay {
    position: fixed;
    color: var(--text);
    font-size: 30px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: var(--bg-primary);
    border: none;
    font-family: 'Hammersmith One';
    border-bottom: 2px solid rgb(255, 255, 255);
}

#titleDisplay:focus {
    outline: none;
}

#contentDisplay {
    position: fixed;
    color: var(--text);
    font-size: 20px;
    margin-left: 5%;
    margin-top: 8%;
    background-color: var(--bg-primary);
    border: none;
    height: 100%;
    width: 70%;
}

#contentDisplay:focus {
    outline: none;
}

.tagBtn {
  position: fixed;
  margin-top: 5%;
  margin-left: 12%;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background: #282828;
  color: white;
}

/* ----------------------------- Toolbar ---------------------------- */

#toolbar {
    user-select: none;
    position: fixed;
    z-index: 100;
    width: 20%;
    height: 7%;
    margin-left: 80%;
    bottom: 0;
    border-top-left-radius: 9px;
    background-color: #181818;
    border: none;
}

/* ----------------------------- Todo ---------------------------- */

#todo h2 {
  color: white;
  position: relative;
  font-size: 30px;
  font-family: 'Hammersmith One';
}

#todo h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-70%);
  width: 70%;
  user-select: none;
  border-bottom: white 2px solid;
}

#todoList div {
  color: white;
  display: flex;
  align-items: center;
}

#todoAdd {
  color: white;
  background: var(--bg-secondary);
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 7px 8px 33px -11px #000000;
}

#todoList div i {
  margin-right: 15px;
  font-size: 20px;
}

/* ----------------------------- Home Page ---------------------------- */

#homePageIntro {
  margin-top: 6%;
  position: fixed;
  background-color: var(--bg-secondary);
  color: var(--text);
  width: 20%;
  padding: 3%;
  transition: 0.3s;
  border-radius: 10px;
}

#homePageIntro:hover {
  background-color: var(--bg-hover);
}

#shortcuts {
  margin-top: 6%;
  position: fixed;
  color: var(--text);
  width: 240px;
  height: 200px;
  margin-left: 28%;
  transition: 0.3s;
  border-radius: 10px;
}


/* ----------------------------- SEARCH ---------------------------- */

#search {
  position: fixed;
  color: var(--text);
  width: 35%;
  padding-left: 1%;
  margin-left: 15%;
  height: 50px;
  transition: 0.3s;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  background-color: var(--bg-secondary);
}

/* ----------------------------- Tag ---------------------------- */

.tag {
  position: fixed;
  margin-top: 4.7%;
  margin-left: 5%;
}

.tagDot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
}

.tagDot[color="0"] {
  background: white;
}

.tagDot[color="1"] {
  background: rgb(0,150,255);
}

.tagDot[color="2"] {
  background: rgb(225, 54, 54);
}

.tagDot[color="3"] {
  background: rgb(133, 18, 151);
}

.tagDot[color="4"] {
  background: rgb(114, 241, 120);
}